.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

header {
  font-size: 36px;
  font-weight: 700;
}

.grid {
  border-color: black;
  border-style: solid;
  height: 500px;
  width: 500px;
  display: grid;
}

.slider-container {
  width: 25%;
}

#slider-input {
  width: 24px;
}

#slider {
  width: 100%;
}
